---
// src/components/Hero.astro
---
<section class="relative z-10 w-full h-[95vh] md:h-screen bg-cover bg-center overflow-hidden" style="background-image: url('/headerimagen2.webp');">      
  <div class="absolute inset-0 bg-black/70 backdrop-blur"></div>
  
  <div class="relative z-30 flex flex-col items-center justify-center h-full px-6 text-center text-white pb-16">
    <img 
      src="/logosinfondoamarillo.png" 
      alt="Nomads Garden Market Logo" 
      class="w-[360px] h-auto md:w-[640px] object-contain mb-8" 
    />
    
    <a href="/carta" class="bg-[#1e468d] hover:bg-white text-[#f9ba5b] hover:text-[#1e468d] font-bebas text-xl px-10 py-3 rounded-full transition-colors duration-300 tracking-wider">
      VER LA CARTA
    </a>
  </div>

  <div class="absolute bottom-[-1px] left-0 w-full z-30 pointer-events-none">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="w-full h-16 md:h-24 text-[#f6eedf] fill-current">
      <polygon points="0,0 100,100 0,100" />
    </svg>
  </div>
</section>