---
// src/components/Nosotros.astro
---
<section id="nosotros" class="relative z-0 pt-24 pb-24 px-6 bg-[#f6eedf]">   
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center relative z-10">
    
    <div class="flex flex-col space-y-6">
      <p class="font-sans font-bold text-[#e4a055] uppercase tracking-widest text-sm">
        Bienvenidos a Nomads Garden
      </p>
      <h2 class="font-bebas text-6xl md:text-8xl text-[#2c1e16] tracking-wider leading-[0.9] uppercase">
        FOOD<br>MARKET
      </h2>
      
      <div class="space-y-4 font-sans text-[#4a382a] text-lg leading-relaxed font-medium">
        <p>
          Somos un mercado gastronómico al aire libre donde la comida, la música y la gente se mezclan sin filtros. Un espacio para venir con amigos, en familia o acabar conociendo a alguien nuevo entre mesa y mesa.
        </p>
        <p>
          Aquí cada puesto tiene su historia: sushi, burgers, mexicano, argentino… todo hecho con cariño, sin prisas y cuidando cada detalle. Nada de comida sin alma.
        </p>
        <p>
          Aquí cada puesto tiene su historia: sushi, burgers, mexicano, argentino… todo hecho con cariño, sin prisas y cuidando cada detalle. Nada de comida sin alma.
        </p>
        <p>
          Nomads es verano. Es buen rollo. Es quedarte un rato más.
        </p>
      </div>
    </div>

    <div class="relative h-[400px] md:h-[500px] w-full border-[12px] border-[#2c1e16] bg-[#2c1e16] transform rotate-2 hover:rotate-0 transition-transform duration-300">
      <img 
        src="/foto3.webp" 
        alt="Nuestra Historia" 
        class="absolute inset-0 w-full h-full object-cover" 
      />
    </div>
  </div>

</section>